/* ==========
  CSS reset
========== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input {
  font: inherit;
  border: none;
  background: none;
}

/* ==========
  Base styles
========== */

html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #2c2c2c;
  background: #fff;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

input {
  background: #eeeeee;
  border-radius: 12px;
  padding: 0 20px;
  height: 56px;
  color: #777777;
}

button:focus-visible,
input:focus-visible {
  outline: 2px solid #2c2c2c;
}

/* ==========
  Button
========== */

button {
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.15s ease;
}

.button--primary {
  font-weight: 900;
  height: 56px;
  flex: 0 0 112px;
  background: #2c2c2c;
  color: #eaeaea;
}

.button--important {
  height: 56px;
  flex: 0 0 56px;
  background: #eeeeee;
  color: #777777;
}

.button--checkbox {
  width: 24px;
  height: 24px;
  background: #fff;
  border: 2px solid #2c2c2c;
  border-radius: 6px;
}

.button--icon {
  color: #777777;
  flex: 0 0 25px;
}

.button--primary:hover,
.button--checkbox:hover {
  background: #1c1c1c;
}

.button--important:hover,
.button--icon:hover {
  color: #1c1c1c;
}

/* ==========
  Layout
========== */

.content {
  max-width: 736px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

/* ==========
  Add tasks section
========== */

.add-task-section {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 32px;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-task-form__top {
  display: flex;
  gap: 12px;
}

.add-task-form__bottom {
  display: flex;
  gap: 12px;
}

.task-name-input,
.task-description-input {
  flex: 1;
}

.task-date-input {
  flex: 0 0 224px;
}


/* ==========
  Tasks section
========== */

.tasks-section {
  display: flex;
  flex-direction: column;
}
